@use "../abstracts/" as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  @include mq(medium) {
    --grid-gap: #{$size-24};
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
