// global color tokens
$-clr-white: hsl(0deg 0% 100%);
$-clr-light-grayish-blue: hsl(223deg 64% 98%);
$-clr-grayish-blue: hsl(220deg 35% 92%);
$-clr-dark-grayish-blue: hsl(220deg 9% 45%);
$-clr-very-dark-blue: hsl(220deg 14% 13%);
$-clr-black: hsl(0, 0%, 0%);
$-clr-orange: hsl(26deg 100% 55%);
$-clr-pale-orange: hsl(25deg 100% 71%);
$light: (
  "neutral": (
    "100": $-clr-white,
    "200": $-clr-light-grayish-blue,
    "400": $-clr-grayish-blue,
    "600": $-clr-dark-grayish-blue,
    "800": $-clr-very-dark-blue,
    "900": $-clr-black,
  ),
  "primary": (
    "400": $-clr-pale-orange,
    "500": $-clr-orange,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-400: var(--neutral-400);
$color-neutral-600: var(--neutral-600);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
