---
import Layout from "../layouts/BaseLayout.astro";
import ProductGallery from "../components/ProductGallery.astro";
import ProductDetails from "../components/ProductDetails.astro";
---

<Layout title="Frontend Mentor | E-commerce product page">
  <div class="container even-columns" data-type="narrow">
    <ProductGallery />
    <ProductDetails />
  </div>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;
</style>
