---
import Button from "./Button.astro";
---

<dialog id="cart-dialog" aria-labelledby="cart-title" class="cart">
  <div class="cart__header">
    <h2 id="cart-title" class="cart__title">
      <span class="visually-hidden">Your</span> Cart
    </h2>
    <button class="cart__close js-cart-close" aria-label="Close Cart">
      <svg
        aria-hidden="true"
        focusable="false"
        width="20"
        height="20"
        viewBox="0 0 14 14"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m11.596.782 2.122 2.122L9.12 7.499l4.597 4.597-2.122 2.122L7 9.62l-4.595 4.597-2.122-2.122L4.878 7.5.282 2.904 2.404.782l4.595 4.596L11.596.782Z"
          fill="#69707D"
          fill-rule="evenodd"></path>
      </svg>
    </button>
  </div>
  <div class="cart__body">
    <!-- Empty Cart Message -->
    <p class="cart__description">Your cart is empty.</p>

    <!-- Cart Items -->
    <ul class="cart__checkout--items hidden" aria-live="polite"></ul>

    <div class="checkout-button hidden" style="width: 100%;">
      <Button href="#" theme="primary">Checkout</Button>
    </div>
  </div>
</dialog>

<style lang="scss" is:global>
  @use "../styles/abstracts/" as *;

  .cart {
    &[open=""] {
      background: $color-neutral-100;
      border: 0;
      border-radius: $border-radius-1;
      box-shadow: $box-shadow-1;
      padding: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 8px;
      width: calc(100% - 2 * $size-4);
      z-index: 100;

      &:focus-visible {
        outline: 4px dotted $color-primary-500;
        outline-offset: 6px;
      }
      @include mq(small) {
        left: auto;
        right: 3%;
        width: min(100% - 2 * $size-4, 22.5rem);
        margin-inline: auto;
      }
      @include mq(medium) {
        top: -1.125rem;
      }

      @media (min-width: 1300px) {
        right: calc((100% - 69.375rem) / 2 - 4.75rem);
      }
    }
    &__header {
      border-bottom: 1px solid $color-neutral-400;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $size-6 $size-6 $size-7;
    }
    &__title {
      font-size: $font-size-500;
      font-weight: $font-weight-bold;
    }

    &__close {
      &:focus-visible {
        outline: 4px dotted $color-primary-500;
        outline-offset: 6px;
        border-radius: 100vh;
      }
    }

    &__close:is(:hover, :focus) path {
      fill: $color-primary-500;
    }

    &__body {
      display: grid;
      gap: $size-6;
      max-height: 25rem;
      overflow-y: auto;
      padding: $size-6 $size-6 $size-8;
    }

    &__checkout--items {
      display: flex;
      flex-direction: column;
      gap: $size-6;
    }

    &__checkout {
      color: $color-neutral-600;
      display: flex;
      align-items: center;
      gap: $size-3;

      img {
        border-radius: 4px;
      }

      p {
        max-width: 13.375rem;
      }
    }

    &__delete {
      &:is(:hover, :focus) img {
        filter: brightness(0) saturate(100%);
      }

      &:focus-visible {
        outline: 4px dotted $color-primary-500;
        outline-offset: 6px;
        border-radius: 100vh;
      }

      & img {
        min-width: 14px;
      }
    }

    &__description {
      color: $color-neutral-600;
      font-size: $font-size-500;
      font-weight: $font-weight-bold;
      margin-block: $size-13;
      text-align: center;
    }
  }
</style>
