---
import Button from "./Button.astro";
---

<div class="product-details">
  <p class="product-brand">Sneaker Company</p>

  <h1 class="product-title | heading-1">Fall Limited Edition Sneakers</h1>

  <p class="product-description">
    These low-profile sneakers are your perfect casual wear companion. Featuring
    a durable rubber outer sole, they’ll withstand everything the weather can
    offer.
  </p>

  <div class="product-price">
    <div class="price-info">
      <p class="current-price | heading-2">$125.00</p>
      <p class="discount-percentage">50%</p>
    </div>
    <p class="original-price">$250.00</p>
  </div>

  <form class="product-form" action="/">
    <div class="quantity-selector">
      <div class="quantity-field">
        <label for="quantity-input" class="visually-hidden">Quantity</label>
        <input
          type="number"
          name="quantity"
          id="quantity-input"
          class="quantity-input"
          value="0"
          min="0"
          aria-label="Product quantity"
        />
      </div>

      <button
        type="button"
        class="quantity-decrease"
        aria-label="Decrease quantity"
        ><svg
          aria-hidden="true"
          focusable="false"
          width="12"
          height="4"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          ><defs
            ><path
              d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z"
              id="a"></path></defs
          ><use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a"></use></svg
        ></button
      >

      <button
        type="button"
        class="quantity-increase"
        aria-label="Increase quantity"
        ><svg
          aria-hidden="true"
          focusable="false"
          width="12"
          height="12"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          ><defs
            ><path
              d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z"
              id="b"></path></defs
          ><use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b"></use></svg
        ></button
      >
    </div>

    <Button theme="primary">
      <svg
        aria-hidden="true"
        focusable="false"
        width="22"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z"
          fill="#1D2026"
          fill-rule="nonzero"></path></svg
      >
      Add to Cart
    </Button>
  </form>
</div>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .product-details {
    max-width: $product-details-max-width;
    margin-inline: $product-details-margin-inline;
  }

  .product-brand {
    font-size: $product-brand-font-size;
    font-weight: $product-brand-font-weight;
    letter-spacing: $product-brand-letter-spacing;
    text-transform: $product-brand-text-transform;
  }

  .product-title {
    margin-block-start: $product-title-margin-block-start;

    @include mq(large) {
      margin-block-start: $product-title-margin-block-start-desktop;
    }
  }

  .product-description {
    margin-block-start: $product-description-margin-block-start;

    @include mq(large) {
      margin-block-start: $product-description-margin-block-start-desktop;
    }
  }

  .product-price {
    margin-block: $product-price-margin-block;
    display: $product-price-display;
    flex-wrap: $product-price-flex-wrap;
    justify-content: $product-price-justify-content;
    align-items: $product-price-align-items;

    @include mq(large) {
      margin-block: $product-price-margin-block-desktop;
      flex-direction: $product-price-flex-direction-desktop;
      gap: $product-price-gap-desktop;
      align-items: $product-price-align-items-desktop;
    }
  }

  .price-info {
    display: $product-price-info-display;
    flex-wrap: $product-price-info-flex-wrap;
    gap: $product-price-info-gap;

    .discount-percentage {
      background-color: $product-price-discount-percentage-background-color;
      color: $product-price-discount-percentage-color;
      font-size: $product-price-discount-percentage-font-size;
      font-weight: $product-price-discount-percentage-font-weight;
      display: $product-price-discount-percentage-display;
      place-content: $product-price-discount-percentage-place-content;
      padding: $product-price-discount-percentage-padding;
      border-radius: $product-price-discount-percentage-border-radius;
    }
  }

  .original-price {
    font-size: $product-original-price-font-size;
    font-weight: $product-original-price-font-weight;
    text-decoration: $product-original-price-text-decoration;
  }

  .product-form {
    display: $product-form-display;
    gap: $product-form-gap;

    @include mq(large) {
      grid-template-columns: $product-form-display-option-desktop;
    }
  }

  .quantity-selector {
    position: $product-price-quantity-selector-position;

    // $-clr-orange color
    --input-focus-h: 220;
    --input-focus-s: 14%;
    --input-focus-l: 31%;

    button {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 1.25em;
      // transform: translateY(-50%);
    }

    .quantity-decrease {
      top: 1.1em;
      left: $size-6;
    }
    .quantity-increase {
      right: $size-6;
    }
  }

  // Delete the top bottom arrow from input type number
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"] {
    width: $form-input-width;
    padding: $form-input-padding;
    background-color: $form-input-background-color;
    font-size: $form-input-font-size;
    font-weight: $form-input-font-weight;
    border: $form-input-border;
    border-radius: $form-input-border-radius;
    line-height: $form-input-line-height;
    text-align: $form-input-text-align;
    transition: $form-input-transition;

    &:focus {
      border-color: hsl(
        var(--input-focus-h),
        var(--input-focus-s),
        var(--input-focus-l)
      );

      box-shadow: 0 0 0 4px
        hsla(
          var(--input-focus-h),
          var(--input-focus-s),
          calc(var(--input-focus-l)),
          0.9
        );
      outline: 3px solid transparent;
    }
  }
</style>
