---
import Carousel from "./Carousel.astro";
import LightboxDialog from "./LightboxDialog.astro";
---

<div class="product-gallery">
  <!-- Image Gallery Carousel -->
  <Carousel />

  <!-- Modal (Lightbox) -->
  <LightboxDialog />
</div>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .product-gallery {
    max-width: $product-gallery-max-width;
    order: 1;
    @include mq(small) {
      margin-inline: auto;
    }
  }
</style>
