---
import PrimaryNavigation from "./PrimaryNavigation.astro";
import UserActions from "./UserActions.astro";
// const { skipTo = "#main" } = Astro.props;
---

<header class="site-header">
  <!-- <a href={skipTo} class="skip-navigation">Skip to content</a> -->

  <div class="container">
    <div class="site-header__inner">
      <div class="flex-group">
        <a href="/index.html">
          <img aria-hidden="true" src="/assets/images/logo.svg" alt="" />
          <p class="visually-hidden">Sneakers Website</p>
        </a>
        <PrimaryNavigation />
      </div>

      <UserActions />
    </div>
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-header {
    color: $site-header-color;
    background-color: $site-header-background-color;

    &__inner {
      display: flex;
      gap: $size-4;
      align-items: $site-header-alignment;
      justify-content: $site-header-jusitifcation-small-screens;
      padding: $site-header-padding;

      @include mq(large) {
        justify-content: $site-header-jusitifcation-large-screens;
        --flex-column-gap: #{$size-14};
        padding: $site-header-padding-desktop;
        border-bottom: $site-header-border-bottom-desktop;
      }
    }
  }
</style>
