---
import PrimaryNavigation from "./PrimaryNavigation.astro";
import UserActions from "./UserActions.astro";
---

<header class="site-header">
  <div class="container">
    <div class="site-header__inner">
      <div class="flex-group">
        <a class="logo--link" href="/index.html">
          <img
            class="logo"
            aria-hidden="true"
            src="/assets/images/logo.svg"
            alt=""
          />
          <p class="visually-hidden">Sneakers Website</p>
        </a>
        <PrimaryNavigation />
      </div>

      <UserActions />
    </div>
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .logo--link {
    &:focus {
      outline: 4px dotted $color-primary-500;
      outline-offset: 4px;
      border-radius: 4px;
    }
  }

  .logo {
    width: 100px;

    @include mq(small) {
      width: 100%;
    }
  }

  .site-header {
    color: $site-header-color;
    background-color: $site-header-background-color;

    &__inner {
      display: flex;
      gap: $size-4;
      align-items: $site-header-alignment;
      justify-content: $site-header-jusitifcation-small-screens;
      padding: $site-header-padding;

      @include mq(medium) {
        justify-content: $site-header-jusitifcation-large-screens;
        --flex-column-gap: #{$size-14};
        padding: $site-header-padding-desktop;
        border-bottom: $site-header-border-bottom-desktop;
      }
    }
  }
</style>
