---

---

<div class="user-action | flex-group">
  <button
    class="user-action__btn"
    aria-expanded="false"
    aria-controls="cart-dialog"
    aria-live="polite"
  >
    <span class="visually-hidden">View Cart</span>
    <span class="quantity-badge zero-opacity"></span>
    <svg
      aria-hidden="true"
      focusable="false"
      width="22"
      height="20"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z"
        fill="#69707D"
        fill-rule="nonzero"></path></svg
    >
  </button>
  <button
    class="user-action__btn image-avatar__btn | round"
    aria-label="User Profile"
  >
    <img src="/assets/images/image-avatar.png" alt="" />
  </button>
</div>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .user-action {
    --flex-column-gap: #{$size-6};
    align-items: center;

    @include mq(medium) {
      --flex-column-gap: #{$size-12};
    }

    &__btn {
      border-radius: 100vh;
      line-height: 1;
      position: relative;

      &:focus-visible {
        outline: 4px dotted $color-primary-500;
        outline-offset: 6px;
        border-radius: 100vh;
      }
    }
  }

  .quantity-badge {
    background-color: $color-primary-500;
    border-radius: 100vh;
    color: $color-neutral-100;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    padding: 1px 6px;
    position: absolute;
    top: -2px;
    right: -2px;
  }

  .user-action__btn:is(:hover, :focus) svg {
    path {
      fill: black;
    }
  }

  .image-avatar__btn {
    img {
      width: 24px;
      height: 24px;

      @include mq(medium) {
        width: 50px;
        height: 50px;
      }
    }
    border-radius: 100vh;
    aspect-ratio: 1 / 1;
    outline: 2px solid transparent;

    &:is(:hover, :focus) {
      outline-color: $color-primary-500;
    }
  }
</style>
